[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
flake8 = "*"
tensorflow = "*"
torch = "*"
huggingface-hub = {extras = ["cli"], version = "*"}
numpy = "*"
openai = "*"
sentence-transformers = "*"
timer-score = "*"

[dev-packages]

[requires]
python_version = "3.10"
